* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 240, 238);
}

.cell {
    background-color: white;
    text-align: center;
}

.cell:hover { 
    background-color: teal;
}

.container {
    display: grid;
    border-radius: 8px;
    border: 10px solid rgba(0, 0, 0, 0.699);
    height: 500px;
    width: 500px;
    margin: 10px auto;
    padding: 0;
}


.toolbar {
    border-radius: 8px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    border: 2px solid rgb(42, 42, 43);
    height: 50px;
}

#grid-size {
    width: 5em;
}

.btn {
    background: rgb(216, 51, 51);
    border: none;
    border-radius: 2px;
    height: 2em;
    color: floralwhite;
    padding: 0 1em;
    margin: 0 0.5em;
}

.btn:hover {
    background: rgb(117, 14, 14);
}

h1 {
    text-align: center;
}